a {
  text-decoration: none;
  color: black;
}

p {
  font-family: "Roboto";
}

body {
  background-color: #f6f6f6;
}

hr {
  color: #fdbab4;
  background-color: #fdbab4;
  height: 2px;
  margin: 0 100px;
  border: none;
}

td {
  border: 1px solid black;
  min-width: 200px;
  height: 40px;
  text-align: center;
}

table {
  border-collapse: collapse;
}

/* --- HEADER --- */

.header {
  background-image: url("./images/header.jpg");
  min-height: 200px;
}

.header p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Snell Roundhand;
  font-size: 25px;
  font-weight: 600;
}

.nameWeeding p {
  word-spacing: 0.5rem;
}

.txt-header {
  padding: 100px 0 20px 0;
}

/* --- BODY --- */

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.body .wrapper {
  width: 100%;
}

/* --- BUTTON 1 --- */
#button1 {
  background: url("./images/imgbutton1.jpg");
  width: 600px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px grey;
  background-size: cover;
}

#button1:hover {
  opacity: 0.9;
}

.button1-inside {
  background-color: rgba(216, 216, 216, 0.8);
  width: 100%;
  line-height: 50px;
  text-align: center;
}

.button1-inside p {
  color: white;
  font-weight: 700;
  font-size: 25px;
}

/* --- BUTTON 2 --- */

#button2 {
  background: url("./images/imgbutton2.jpg");
  width: 600px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px grey;
  background-size: cover;
}

#button2:hover {
  opacity: 0.9;
}

.button2-inside {
  background-color: rgba(216, 216, 216, 0.8);
  width: 100%;
  line-height: 50px;
  text-align: center;
}

.button2-inside p {
  color: white;
  font-weight: 700;
  font-size: 25px;
}

/* --- BUTTON --- */
.button {
  display: flex;
  justify-content: space-evenly;
  padding: 66px 0;
  background-color: #f6f6f6;
  height: auto;
}

/* --- INVIT WEEDING --- */
.invitWeeding {
  text-align: center;
}

.yesorno {
  display: flex;
  align-items: center;
  justify-content: center;
}

.yes {
  display: flex;
  align-items: center;
}

.yes label {
  margin: 10px;
}

.no {
  display: flex;
  align-items: center;
}

.no label {
  margin: 10px;
}

/* --- INFO WEEDING --- */

.backHome {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.backHome p {
  font-weight: 300;
  margin: 10px;
}

.infoWeeding {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  margin-bottom: 100px;
}

.couple {
  font-style: italic;
}

.mairie {
  display: flex;
  align-items: center;
  padding-bottom: 50px;
}

.mairie p {
  width: 800px;
  padding-right: 50px;
  text-align: center;
  line-height: 2;
  font-size: 19px;
  background-color: rgba(251, 220, 218, 0.5);
  min-height: 228px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mairie img {
  width: 300px;
  height: 228px;
}

.party {
  display: flex;
}

.party p {
  width: 800px;
  padding-right: 50px;
  text-align: center;
  line-height: 2;
  font-size: 19px;
  background-color: rgba(251, 220, 218, 0.5);
  min-height: 201px;
  font-weight: 300;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_soiree {
  height: 228px;
  width: 300px;
}

/* --- ADMIN SCREEN ---  */

.topArray td {
  background-color: grey;
}

.inputAccesAdmin {
  margin: 20px 0 0 500px;
}

.array {
  display: flex;
}
