a {
  text-decoration: none;
}

/* --- HEADER --- */

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .wrapper {
  width: 1200px;
}

.header p {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 0;
}

/* --- BODY --- */

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.body .wrapper {
  width: 1200px;
  background-color: yellow;
}

/* --- BUTTON 1 --- */
.button1 {
  background-color: blue;
  /* height: 500px; */
  width: 400px;
}

.button1 p {
  display: flex;
  justify-content: center;
  line-height: 400px;
  color: white;
}

/* --- BUTTON 2 --- */

.button2 {
  background-color: red;
  width: 400px;
}
.button2 p {
  display: flex;
  justify-content: center;
  line-height: 400px;
  color: white;
}

/* --- BUTTON --- */
.button {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  margin: 50px 0;
}
