a {
  text-decoration: none;
}

p {
  font-family: "Roboto";
}

body {
  background-color: #f6f6f6;
}

hr {
  color: #fdbab4;
  background-color: #fdbab4;
  height: 2px;
  margin: 0 100px;
  border: none;
}

/* --- HEADER --- */

.header {
  background-image: url("./images/header.jpg");
  min-height: 200px;
}

.header p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nameWeeding p {
  text-transform: uppercase;
}

.txt-header {
  padding: 140px 0 50px 0;
}

/* --- BODY --- */

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.body .wrapper {
  width: 100%;
}

/* --- BUTTON 1 --- */
#button1 {
  background: url("./images/imgbutton1.jpg");
  width: 600px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px grey;
  background-size: cover;
}

#button1:hover {
  opacity: 0.9;
}

.button1-inside {
  background-color: rgba(216, 216, 216, 0.8);
  width: 100%;
  line-height: 50px;
  text-align: center;
}

.button1-inside p {
  color: white;
  font-weight: 700;
  font-size: 25px;
}

/* --- BUTTON 2 --- */

#button2 {
  background: url("./images/imgbutton2.jpg");
  width: 600px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px grey;
  background-size: cover;
}

#button2:hover {
  opacity: 0.9;
}

.button2-inside {
  background-color: rgba(216, 216, 216, 0.8);
  width: 100%;
  line-height: 50px;
  text-align: center;
}

.button2-inside p {
  color: white;
  font-weight: 700;
  font-size: 25px;
}

/* --- BUTTON --- */
.button {
  display: flex;
  justify-content: space-evenly;
  padding: 66px 0;
  background-color: #f6f6f6;
  height: auto;
}

/* --- INVIT WEEDING --- */
.invitWeeding {
  text-align: center;
}
